body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
}

.row {
  display: flex;
}

.block {
  border: 2px solid green;
}

button {
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 50px;
}
